---
layout: default
---

<div class="card">
  <div class="container py-2">
    <h1>Crisis Resources for <a href="#">{{ page.title }}</a></h1>
    <h3>Under the region of: {% for tag in page.tags %}<a href="/tag/{{ tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</h3>
  </div>
</div>
<br>
<div class="card">
    <div class="container">
      <div class="p-3">
        {{ content }}
      </div>
    </div>
  </div>
<br>
<hr>

<a href="{{site.baseurl}}/" class="btn btn-lg btn-light">Go Back</a>
<br>
<br>